body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1.5fr 6fr 6fr; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "sidebar search search"
    "sidebar header header"
    "sidebar body announcements"
    "sidebar body trending";
}

.search {
    border: 1px solid black;
    grid-area: search;
}

.header {
    border: 1px solid black;
    grid-area: header;
}

.sidebar {
    border: 1px solid black;
    grid-area: sidebar;
}

.body {
    border: 1px solid black;
    grid-area: body;
}

.announcements {
    border: 1px solid black;
    grid-area: announcements;
}

.trending {
    border: 1px solid black;
    grid-area: trending;
}