/* BODY */

body {
    margin: 0;
    color: var(--text-colour);
    background-color: var(--bg-colour);
}

/* THEMING */
:root.light {
 --bg-colour: white;
 --text-colour: black;
}


:root.dark {
    --bg-colour: black;
    --text-colour: white;
}

/* CONTAINER */
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1.5fr 6fr 6fr; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "sidebar search search"
    "sidebar header header"
    "sidebar body announcements"
    "sidebar body trending";
}

/* SEARCHBAR */
.search {
    border: 1px solid black;
    grid-area: search;
    display: flex;
    align-items: center;
}

.monacle {
    font-family: 'Material Icons';
    margin-left: 2%;
}

.toggle {
    font-family: 'Material Icons';
}

.bar {
    border-radius: 15px;
    
}

/* HEADER */
.header {
    border: 1px solid black;
    grid-area: header;
}

/* SIDEBAR */
.sidebar {
    border: 1px solid black;
    grid-area: sidebar;
}


/* BODY */
.body {
    border: 1px solid black;
    grid-area: body;
}


/* ANNOUNCEMENTS */
.announcements {
    border: 1px solid black;
    grid-area: announcements;
}


/* TRENDING */
.trending {
    border: 1px solid black;
    grid-area: trending;
}