body {
    margin: 0;
    color: var(--text-colour);
    background-color: var(--bg-colour);
}


:root.light {
 --bg-colour: white;
 --text-colour: black;
}


:root.dark {
    --bg-colour: black;
    --text-colour: white;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1.5fr 6fr 6fr; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "sidebar search search"
    "sidebar header header"
    "sidebar body announcements"
    "sidebar body trending";
}

.search {
    border: 1px solid black;
    grid-area: search;
}

.material-icons-outlined {
    font-family: 'Material Icons';
}

.toggle {
    font-family: 'Material Icons';
}

.header {
    border: 1px solid black;
    grid-area: header;
}

.sidebar {
    border: 1px solid black;
    grid-area: sidebar;
}

.body {
    border: 1px solid black;
    grid-area: body;
}

.announcements {
    border: 1px solid black;
    grid-area: announcements;
}

.trending {
    border: 1px solid black;
    grid-area: trending;
}